:root{
    font-family: sans-serif;
    --header: #293462;
    --gameboard: #D61C4E;
    --background: #1CD6CE;
    --icons: #FEDB39;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
}

.header {
    background-color: var(--header);
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 120px;
    color: var(--icons);
    font-size: 100px;
    font-weight: bolder;
}

.game-area{
    gap: 280px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: var(--gameboard);
    text-align: center;
}

.game-area h1{
    font-size: 30px;
}

.game-area p{
    font-size: 24px;
}

.gameboard {
    background-color: var(--gameboard);
    margin-top: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 10px var(--header);
}

.square {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: var(--icons);
    width: 200px;
    height: 200px;
    border: solid var(--background) 5px;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}

#reset, #modal-reset, #reset-score {
    font-size: 24px;
    height: 60px;
    width: 160px;
    background-color: var(--header);
    color: var(--icons);
    border: solid var(--gameboard) 3px;
}

#reset:hover, #modal-reset:hover, #reset-score:hover {
    color:var(--gameboard);
    border-color: var(--icons);
}

#reset:active, #modal-reset:active, #reset-score:active{
    border-style: inset;
}

#win-screen{
    background-color: var(--gameboard);
    color: var(--icons);
    border: solid var(--header) 3px;
    width: 300px;
    height: 300px;
    opacity: .95;
}

#win-screen::backdrop{
    background-image: linear-gradient(to bottom right, #F2CD5C, #F2921D, #A61F69, #400E32);
    opacity: .5;
}

#modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 300px;
}

#win-message {
    font-size: 48px;
    text-align: center;
    line-height: 70px;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

#player1score, #player2score {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 160px;
    background-color: var(--header);
    color: var(--icons);
    border: solid var(--gameboard) 3px;
}


